body {
    background-color: #3500d4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

button {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: white;
}